NEXT_PUBLIC_NETWORK="SandNet"

# Algod
NEXT_PUBLIC_ALGOD_ADDRESS="http://localhost"
NEXT_PUBLIC_ALGOD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
NEXT_PUBLIC_ALGOD_PORT="4001"
NEXT_PUBLIC_ALGOD_ADDRESS_TESTNET="https://testnet-api.algonode.cloud"
NEXT_PUBLIC_ALGOD_TOKEN_TESTNET=""
NEXT_PUBLIC_ALGOD_PORT_TESTNET=""

# Indexer
NEXT_PUBLIC_INDEXER_TOKEN=""
NEXT_PUBLIC_INDEXER_SERVER="http://localhost"
NEXT_PUBLIC_INDEXER_PORT="8980"
NEXT_PUBLIC_INDEXER_ADDRESS_TESTNET="https://testnet-idx.algonode.cloud"
NEXT_PUBLIC_INDEXER_TOKEN_TESTNET=""
NEXT_PUBLIC_INDEXER_PORT_TESTNET=""

# Kmd
NEXT_PUBLIC_KMD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
NEXT_PUBLIC_KMD_SERVER="http://localhost"
NEXT_PUBLIC_KMD_PORT="4002"

# PINATA
PINATA_API_KEY="15c076ab0479df8624ad"
PINATA_API_SECRET="97f785595557003209b27f00c901f9eebd30edbde523dcb91229259698b7f517"
PINATA_API_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI4Nzg4ZTc4YS0yODZhLTRiMGQtYTVjNy0xOWZkMGRiMDNlZjAiLCJlbWFpbCI6ImNoZXdqaW5neGlhbmdqdW1wc0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6IkZSQTEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMTVjMDc2YWIwNDc5ZGY4NjI0YWQiLCJzY29wZWRLZXlTZWNyZXQiOiI5N2Y3ODU1OTU1NTcwMDMyMDliMjdmMDBjOTAxZjllZWJkMzBlZGJkZTUyM2RjYjkxMjI5MjU5Njk4YjdmNTE3IiwiaWF0IjoxNjgzNjE4MDcxfQ.FtkpvAmZ6bxNAkxuTERO9kpvKTi62MQSkjJ0ydxFNYg"
 
# NFT Deployer Account
NEXT_PUBLIC_DEPLOYER_ADDR="BBQRYLDHXI5VE5DMY3A3YMY5NW7TO7ON3ME6OWQMR5F4XONBJYAY4D2ERU"
NEXT_PUBLIC_DEPLOYER_MNEMONIC="exchange improve kit recipe bacon ride river hip pepper smile menu gallery route glove elephant inherit party thrive gauge lady cluster disease napkin abandon ripple"